/* Для изображений внутри карточек */
.service-img {
    width: 100%;          /* Устанавливаем изображение на всю ширину контейнера */
    height: 200px;        /* Ограничиваем высоту изображения */
    object-fit: cover;    /* Покрытие изображения без искажения пропорций */
    background-color: #fff; /* Фоновый цвет, если изображение не заполняет контейнер */
}

/* Обновленные стили для карточек */
.card {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;  /* Отступы между карточками */
    min-height: 350px;    /* Минимальная высота карточки */
    display: flex;
    flex-direction: column;
}

/* Обновление карточки для адаптивности */
.card-body {
    padding: 15px;
    flex-grow: 1;  /* Чтобы содержимое карточки занимало доступное пространство */
}

/* Для родительского контейнера .row */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;  /* Отступы между карточками */
    justify-content: space-between;  /* Выравнивание по ширине с равными отступами */
}

/* Адаптивность */
@media (max-width: 768px) {
    .card {
        margin-bottom: 15px; /* Меньше отступов для мобильных устройств */
        min-height: 300px;   /* Меньше минимальной высоты для мобильных устройств */
    }

    .service-img {
        height: 150px;  /* Меньше высота для изображений на мобильных устройствах */
    }
}

/* Для изображений продуктов в модалке */
.product-img {
    width: 100%;
    height: 100px; /* Уменьшаем высоту для картинок в модалке */
    object-fit: cover;
}
