/* Устанавливаем фиксированные размеры для карусели */
.carousel-inner img {
    width: 100%;
    height: 400px; /* Фиксированная высота для предотвращения скачков */
    object-fit: cover; /* Масштабирует изображение, сохраняя пропорции */
}

/* Стили для логотипа заказчика */
.customer-logo {
    width: 150px; /* Ширина логотипа */
    height: 150px; /* Высота логотипа */
    object-fit: contain; /* Масштабирование с сохранением пустых зон для пропорций */
    border: 1px solid #ccc; /* Граница для улучшения внешнего вида */
    border-radius: 50%; /* Круглый логотип */
}
