body {
    font-family: Arial, sans-serif;
    padding-top: 70px; /* Высота навигационной панели */
}
.container {
    margin-top: 20px;
}

/* Основной стиль для фона и оформления */
body {
    background: linear-gradient(135deg, #2c3e50, #34495e); /* Темные градиенты от синего к серому */
    color: #ecf0f1; /* Светлый цвет для текста */
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Контейнер с основным контентом */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #ecf0f1;
}

/* Заголовок главной страницы */
.main-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); /* Мягкая тень для выделения текста */
}

/* Текст на главной странице */
.lead {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); /* Легкая тень для текста */
}

/* Кнопка */
.btn-primary {
    background-color: #1abc9c; /* Яркий цвет для кнопки */
    border-color: #1abc9c;
    font-size: 1.2rem;
    padding: 15px 40px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #16a085; /* Более темный оттенок при наведении */
    transform: scale(1.05);
}

/* Индикатор загрузки */
#loading {
    margin-top: 50px;
}

/* Стили для уведомлений */
.toast-container {
    z-index: 1050;
}

.toast {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

.toast-header {
    background-color: #1abc9c;
    color: white;
    border-radius: 10px 10px 0 0;
}

.toast-body {
    background-color: rgba(0, 0, 0, 0.1);
}
